@import "tailwindcss";
@import "../../node_modules/preline/variants.css";
@plugin '@tailwindcss/typography';
@plugin "@tailwindcss/forms";

@theme {
  --color-primary: #F7BBBD;
  --color-primary-light: #ffd9da;
}

body {
  font-family: 'Bricolage Grotesque', sans-serif;
  @apply text-base md:text-xl;
}

html {
  scrollbar-gutter: stable;
}

.container {
  --max_width: 1240px;
  --padding: 1rem;

  width: min(100% - var(--padding) * 2, var(--max_width));
  margin-inline: auto;
}
