---
import Form from '~/components/common/Form.astro';
import Layout from '~/layouts/Layout.astro';
---

<Layout title="Signal Home" subtitle='Bring Me Back to You'>
  <main class="container">
    <Form/>
  </main>
</Layout>
