---
import Button from "./Button.astro";
---
<form id="send-form" class="max-w-2xl mx-auto space-y-5" >
  <textarea
    name="message"
    id="message"
    rows="8"
    class="block min-w-full py-3 px-4 rounded-xl text-white bg-slate-800 outline-none focus-visible:outline-2 focus-visible:outline-primary"
    placeholder="Escribe aquí tu mensaje..."></textarea>
  <Button class="min-w-full" text="Enviar Mensaje" type="submit" />
</form>

<script>
  import sendToGoogleSheets from "~/utils/sendToGoogleSheets"

document.addEventListener('astro:page-load', () => {
  const form = document.getElementById('send-form') as HTMLFormElement;

  form.addEventListener('submit', async (e) => {
    e.preventDefault();
  });


  const textarea = document.getElementById("message") as HTMLTextAreaElement;
  console.log(textarea, "holaaaa")

  textarea.addEventListener("input", async () => {
    console.log("hola")
      // try {
      //   await sendToGoogleSheets(textarea.value);
      // } catch (err) {
      //   console.error("[Form] Error al enviar a Google Sheets:", err);
      // }
  });
});
</script>
