---
import { NAVIGATION } from '~/utils/navigation';
const path = `/${Astro.url.pathname.split('/')[1]}`;
---

<header class="mt-5 mb-7 md:mb-10 container">
  <nav class="bg-zinc-800 rounded-xl md:rounded-full overflow-hidden max-w-fit mx-auto">
    <ul class="flex items-center flex-wrap justify-center gap-0.5">
      {
        NAVIGATION.map(({ name, href }) => (
          <li>
            <a href={href} transition:name={`nav-item-${href}`} class={`transition-all block text-center md:text-base border-2 border-transparent focus-visible:outline-none md:px-4 px-2 rounded-full ${href === path ? 'bg-primary text-black hover:text-black hover:opacity-50 focus-visible:opacity-50' : 'hover:bg-zinc-900/90 focus-visible:bg-zinc-900/90'}`}>
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
